.aboutSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/aboutBackground.webp");
    padding-top: 20px;
    background-size: cover;
    position: relative;
    margin-top: 100px;
    .aboutSectionContent{
        p{
            text-align: center;
            color: $white;
            max-width: 900px;
            padding: 0px 5px;
        }

    
    }
   
    button{
        margin-bottom: 50px;
    }


}

@media(min-width:550px){
    .aboutSection{
        padding-top: 80px;
       
    }
}

@media(min-width:660px){
    .aboutSection{
       
       
    }
}

@media(min-width:1000px){
    .aboutSection{

        .aboutSectionContent{
            p{
                font-size: 18px;
            }
        }
    }


}