.aboutSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/aboutBackground.png");

    background-size: cover;
    

    .aboutSectionContent{
        p{
            text-align: center;
            color: $white;
            max-width: 900px;
            padding: 0px 5px;
        }

    
    }
   
    button{
        margin-bottom: 50px;
    }


}

@media(min-width:1000px){
    .aboutSection{

        .aboutSectionContent{
            p{
                font-size: 18px;
            }
        }
    }


}