.landing{
    position: relative;
    z-index: 1;
    background-image: url("../../images/heroImage.webp");
    height: fit-content;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 8px solid $secondaryColor;
   
    .textContent{
      //  border: 2px solid $secondaryColor;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
        margin-top: 100px;
        min-height: 420px;
        max-width: 1250px;
        color: $white;
        margin-bottom: 50px;
        .landingGraphics{
            .leftBorder{
                position: absolute;
                left: 0px;
                height: 94%;
                width: 2px;
                top: 3%;
                background-color: $secondaryColor;
            }
            .rightBorder{
                @extend .leftBorder;
                right: 0px;
                left: unset;
            }
            .topBorder{
                position: absolute;
                top: 0px;
                left: 1%;
                width: 98%;
                height: 2px;
                background-color: $secondaryColor;
            }
            .bottomBorder{
                @extend .topBorder;
                bottom:0px;
                top: unset;
                
            }
            .triangle{
                position: absolute;
                width: 45px;
                height: 45px;
                border-top: 2px solid $secondaryColor;
                border-left:  2px solid $secondaryColor;
            }
            .topLeft{
                top: -10px;
                left: -10px;
            }
            .topRight{
                transform: rotate(90deg);
                top: -10px;
                right: -10px;
            }
            .bottomLeft{
                transform: rotate(270deg);
                bottom: -10px;
                left: -10px;
            }
            .bottomRight{
                transform: rotate(180deg);
                bottom: -10px;
                right: -10px;
            }
        }
        .title{
            font-size: 18px;
            padding: 10px 0px;
            text-align: center;
            font-family: "semibold";
            transform: translateY(10px);
        
            
        }
        .slogan{
            display: flex;
            justify-content: center;
            flex-direction: column;
            line-height: 55px;
            b{
                font-size: 50px;
                text-align: center;
                
            }
            
        }
      

        
        .line{
            display: inline-block;
            width: 90%;
            height: 2px;
            background-color: $secondaryColor;
            margin: 15px 0px;
            margin-top: 25px;
        }
        .supportingDetails{
    
            text-align: center;
            padding: 10px 5px;
            max-width: 600px;

        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            button{
                font-size: 16px;
                margin: 10px 10px;
            }
        }
    
    }
}

@media(min-width:850px){
    .landing{
        .textContent{
            margin-top: 150px;
            .title{
                font-size: 22px;
                transform: translateY(15px);
            }
            .slogan{
                line-height: 100px;
                b{
                    font-size: 90px;
                }
                

            }
            .supportingDetails{
                font-size: 18px;
            }
            .buttons{
              
                button{
                    font-size: 20px;
                    
                }
            }


        }
    }



}