.contactIntro{
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleSection{
        margin-top: 10px;

       
    }
    p{
        text-align: center;
        max-width: 800px;
        padding: 0px 5px;
      
    }
}