@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "semibold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
* a {
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.primaryButton {
  background-color: #692D50;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  color: #FAFAFA;
  font-family: "semibold";
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.primaryButton img {
  margin-left: 10px;
  width: 32px !important;
  height: 32px !important;
}

.primaryButton:hover {
  background-color: #50223d;
}

.titleSection, .secondaryTitleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.titleSection b, .secondaryTitleSection b {
  color: #8B5974;
  font-family: "semibold";
  font-size: 20px;
  transform: translateY(5px);
}
.titleSection p, .secondaryTitleSection p {
  font-size: 40px;
  font-family: "bold";
}
.titleSection .circles, .secondaryTitleSection .circles {
  display: flex;
  align-items: center;
  margin: 5px;
}
.titleSection .circles span, .secondaryTitleSection .circles span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 3px;
  background-color: #8B5974;
}
.titleSection .circles .biggerCircle, .secondaryTitleSection .circles .biggerCircle {
  width: 13px;
  height: 13px;
  background-color: #884B6A;
}

.secondaryTitleSection {
  margin-top: 0px;
}
.secondaryTitleSection b {
  color: #F6DCBB;
}
.secondaryTitleSection p {
  color: #FAFAFA;
}
.secondaryTitleSection .circles span {
  background-color: #F6DCBB;
}
.secondaryTitleSection .circles .biggerCircle {
  background-color: #FAFAFA;
}

.additionalQuestion {
  display: none !important;
  background-color: #FAFAFA;
  border-radius: 10px;
  transform: translateY(-53px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.856);
}
.additionalQuestion .topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 20px;
}
.additionalQuestion .topSection .additionalQuestionTitle :nth-child(2) {
  color: #8B5974;
}
.additionalQuestion .topSection a button {
  padding: 5px 15px;
  padding-right: 5px;
  margin-bottom: 0px !important;
}
.additionalQuestion .topSection b {
  font-size: 40px;
  font-family: "bold";
}
.additionalQuestion .bottomSection {
  display: flex;
  margin: 0px 20px;
  margin-bottom: 10px;
  text-align: center;
}
.additionalQuestion .bottomSection p {
  font-size: 18px;
}

@media (min-width: 550px) {
  .additionalQuestion {
    display: block !important;
  }
}
.navigationBar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.navigationBar img {
  transform: translateY(10px);
  padding-left: 30px;
  width: 106px;
  height: auto;
}
.navigationBar a, .navigationBar p {
  text-decoration: none;
  cursor: pointer;
}
.navigationBar a button, .navigationBar p button {
  display: none;
  font-size: 20px;
  font-family: "semibold";
}
.navigationBar .navSocials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.navigationBar .navSocials p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #FAFAFA;
  font-family: "semibold";
}
.navigationBar .navSocials .fa {
  margin-top: 15px;
  font-size: 28px;
  color: #FAFAFA;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: visible;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(100%);
  background-color: #8B5974;
}
.navigationBar #menu img {
  height: 200px;
  width: auto;
  padding-left: 0px;
}
.navigationBar #menu ul {
  padding-top: 0px;
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigationBar #menu ul li:first-child {
  padding: 0px 0px;
}
.navigationBar #menu ul li {
  padding: 20px 0px;
  text-align: center;
  width: 90%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  margin-right: unset;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a, .navigationBar #menu ul li p {
  font-family: "semibold";
  text-decoration: none;
  font-size: 20px;
  color: #FAFAFA;
  letter-spacing: 2px;
}
.navigationBar a button .fa, .navigationBar p button .fa {
  transform: translateY(4px);
  font-size: 25px;
}

.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input, .hamburgerMenu .formSection .contactContent form textarea, .formSection .contactContent form .hamburgerMenu textarea {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
  z-index: 2;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #F6DCBB;
  transition: 0.3s ease-in;
  z-index: -2;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span, .hamburgerMenu .formSection .contactContent form textarea:checked ~ span, .formSection .contactContent form .hamburgerMenu textarea:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
}
.hamburgerMenu input:checked ~ span:nth-child(3), .hamburgerMenu .formSection .contactContent form textarea:checked ~ span:nth-child(3), .formSection .contactContent form .hamburgerMenu textarea:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4), .hamburgerMenu .formSection .contactContent form textarea:checked ~ span:nth-child(4), .formSection .contactContent form .hamburgerMenu textarea:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    z-index: 2;
    justify-content: space-around;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    background-color: transparent;
  }
  .navigationBar img {
    width: 150px;
  }
  .navigationBar a button, .navigationBar p button {
    display: unset;
  }
  .navigationBar .navSocials {
    display: none;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(20px);
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    background: unset;
  }
  .navigationBar #menu img {
    display: none;
  }
  .navigationBar #menu .socials {
    display: none;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    padding: 0px 20px;
    padding-bottom: 0px;
    border: none;
  }
  .navigationBar #menu ul li a, .navigationBar #menu ul li p {
    font-size: 20px;
    color: #FAFAFA;
    letter-spacing: 1px;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
  }
  .navigationBar #menu ul li :after {
    display: block;
    content: "";
    border-bottom: 3px solid #F6DCBB;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul li :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
footer {
  margin-top: 0px;
  color: #FAFAFA !important;
  display: flex;
  background-color: #301E2E;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
}
footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section b {
  letter-spacing: 1px;
  font-size: 18px;
  margin-right: 5px;
}
footer .section ul {
  padding-bottom: 35px;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 166px;
}
footer .section ul li {
  padding: 5px 0px;
  transition: 0.5s ease-in-out;
  color: #FAFAFA;
}
footer .section ul li a {
  text-decoration: none;
  color: #FAFAFA;
}
footer .section ul li .fa {
  color: #FAFAFA;
}
footer .section ul li:hover {
  opacity: 0.4;
  cursor: pointer;
}
footer .section ul li:first-child:hover {
  opacity: 1;
  cursor: auto;
}
footer .section ul li:first-child {
  color: #692D50;
}
footer .section ul li:first-child b {
  color: #692D50;
  font-family: "bold";
  color: #F6DCBB;
}
footer .logoAndDescription {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logoAndDescription p {
  max-width: 400px;
  text-align: center;
}
footer .logoAndDescription img {
  width: 150px;
}
footer .hours .fa {
  padding-right: 5px;
  font-size: 18px;
}
footer .hours ul li {
  width: -moz-fit-content;
  width: fit-content;
}
footer .hours ul li b {
  display: inline-block;
  width: 50px;
}
footer .contact .fa {
  width: 20px;
  height: 20px;
  text-align: center;
}
footer .contact .fa-instagram {
  padding-top: 3px;
  padding-right: 2px;
}

@media (min-width: 800px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer .section {
    width: 200px;
    height: 350px;
  }
  footer .logoAndDescription {
    flex-basis: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1300px) {
  footer {
    justify-content: center;
  }
  footer .section {
    padding-top: 49px;
    margin: 0px 25px;
  }
  footer .logoAndDescription {
    transform: translateY(-55px);
    padding-top: 0px;
    flex-basis: auto;
    width: 250px !important;
  }
}
.copyright {
  background-color: #1f131d;
  width: 100%;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright .developer {
  display: flex;
}
.copyright .developer p {
  font-size: 15px;
  margin: auto;
}
.copyright .developer a {
  text-decoration: none;
  font-family: "bold";
  color: #F6DCBB;
}
.copyright .developer a:hover {
  opacity: 0.5;
}

.landing {
  position: relative;
  z-index: 1;
  background-image: url("../../images/heroImage.png");
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 8px solid #F6DCBB;
}
.landing .textContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  margin-top: 100px;
  min-height: 420px;
  max-width: 1250px;
  color: #FAFAFA;
  margin-bottom: 50px;
}
.landing .textContent .landingGraphics .leftBorder, .landing .textContent .landingGraphics .rightBorder {
  position: absolute;
  left: 0px;
  height: 94%;
  width: 2px;
  top: 3%;
  background-color: #F6DCBB;
}
.landing .textContent .landingGraphics .rightBorder {
  right: 0px;
  left: unset;
}
.landing .textContent .landingGraphics .topBorder, .landing .textContent .landingGraphics .bottomBorder {
  position: absolute;
  top: 0px;
  left: 1%;
  width: 98%;
  height: 2px;
  background-color: #F6DCBB;
}
.landing .textContent .landingGraphics .bottomBorder {
  bottom: 0px;
  top: unset;
}
.landing .textContent .landingGraphics .triangle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-top: 2px solid #F6DCBB;
  border-left: 2px solid #F6DCBB;
}
.landing .textContent .landingGraphics .topLeft {
  top: -10px;
  left: -10px;
}
.landing .textContent .landingGraphics .topRight {
  transform: rotate(90deg);
  top: -10px;
  right: -10px;
}
.landing .textContent .landingGraphics .bottomLeft {
  transform: rotate(270deg);
  bottom: -10px;
  left: -10px;
}
.landing .textContent .landingGraphics .bottomRight {
  transform: rotate(180deg);
  bottom: -10px;
  right: -10px;
}
.landing .textContent .title {
  font-size: 18px;
  padding: 10px 0px;
  text-align: center;
  font-family: "semibold";
  transform: translateY(10px);
}
.landing .textContent .slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 55px;
}
.landing .textContent .slogan b {
  font-size: 50px;
  text-align: center;
}
.landing .textContent .line {
  display: inline-block;
  width: 90%;
  height: 2px;
  background-color: #F6DCBB;
  margin: 15px 0px;
  margin-top: 25px;
}
.landing .textContent .supportingDetails {
  text-align: center;
  padding: 10px 5px;
  max-width: 600px;
}
.landing .textContent .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.landing .textContent .buttons button {
  font-size: 20px;
  margin: 10px 10px;
}

@media (min-width: 850px) {
  .landing .textContent {
    margin-top: 150px;
  }
  .landing .textContent .title {
    font-size: 22px;
    transform: translateY(15px);
  }
  .landing .textContent .slogan {
    line-height: 100px;
  }
  .landing .textContent .slogan b {
    font-size: 90px;
  }
  .landing .textContent .supportingDetails {
    font-size: 18px;
  }
}
.newPageLanding {
  position: relative;
  background-image: url("../../images/heroImage.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  border: 8px solid #F6DCBB;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}
.newPageLanding .textContent {
  margin: 0px 20px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
.newPageLanding .textContent .title {
  font-family: "semibold";
  color: #FAFAFA;
  margin-top: 10px;
}
.newPageLanding .textContent .slogan {
  padding: 0px 30px;
  line-height: 55px;
  text-align: center;
}
.newPageLanding .textContent .slogan b {
  font-size: 50px;
  color: #FAFAFA;
}
.newPageLanding .landingGraphics .leftBorder, .newPageLanding .landingGraphics .rightBorder, .newPageLanding .landing .textContent .landingGraphics .rightBorder, .landing .textContent .newPageLanding .landingGraphics .rightBorder {
  position: absolute;
  left: 0px;
  height: 80%;
  width: 2px;
  top: 10%;
  background-color: #F6DCBB;
}
.newPageLanding .landingGraphics .rightBorder {
  right: 0px;
  left: unset;
}
.newPageLanding .landingGraphics .topBorder, .newPageLanding .landingGraphics .bottomBorder, .newPageLanding .landing .textContent .landingGraphics .bottomBorder, .landing .textContent .newPageLanding .landingGraphics .bottomBorder {
  position: absolute;
  top: 0px;
  left: 1%;
  width: 98%;
  height: 2px;
  background-color: #F6DCBB;
}
.newPageLanding .landingGraphics .bottomBorder {
  bottom: 0px;
  top: unset;
}
.newPageLanding .landingGraphics .triangle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 2px solid #F6DCBB;
  border-left: 2px solid #F6DCBB;
}
.newPageLanding .landingGraphics .topLeft {
  top: -5px;
  left: -5px;
}
.newPageLanding .landingGraphics .topRight {
  transform: rotate(90deg);
  top: -5px;
  right: -5px;
}
.newPageLanding .landingGraphics .bottomLeft {
  transform: rotate(270deg);
  bottom: -5px;
  left: -5px;
}
.newPageLanding .landingGraphics .bottomRight {
  transform: rotate(180deg);
  bottom: -5px;
  right: -5px;
}

@media (min-width: 1000px) {
  .newPageLanding {
    min-height: 400px;
  }
  .newPageLanding .textContent .title {
    font-size: 22px;
  }
  .newPageLanding .textContent .slogan {
    line-height: 100px;
  }
  .newPageLanding .textContent .slogan b {
    font-size: 90px;
  }
  .newPageLanding .landingGraphics .leftBorder, .newPageLanding .landing .textContent .landingGraphics .rightBorder, .landing .textContent .newPageLanding .landingGraphics .rightBorder, .newPageLanding .landingGraphics .rightBorder {
    height: 90%;
    top: 5%;
  }
  .newPageLanding .landingGraphics .topBorder, .newPageLanding .landing .textContent .landingGraphics .bottomBorder, .landing .textContent .newPageLanding .landingGraphics .bottomBorder, .newPageLanding .landingGraphics .bottomBorder {
    left: 2%;
    width: 96%;
  }
  .newPageLanding .landingGraphics .triangle {
    width: 45px;
    height: 45px;
  }
  .newPageLanding .landingGraphics .topLeft {
    top: -10px;
    left: -10px;
  }
  .newPageLanding .landingGraphics .topRight {
    top: -10px;
    right: -10px;
  }
  .newPageLanding .landingGraphics .bottomLeft {
    bottom: -10px;
    left: -10px;
  }
  .newPageLanding .landingGraphics .bottomRight {
    bottom: -10px;
    right: -10px;
  }
}
.testimonialSection {
  margin-top: 100px;
  background-color: #884B6A;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.testimonialSection .testimonial {
  position: relative;
  max-width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #884B6A;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4039215686);
  padding: 40px 40px;
  margin: 10px 0px;
  text-align: center;
}
.testimonialSection .testimonial .testimonialText {
  border: 1px solid #F6DCBB;
  padding: 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonialSection .testimonial p {
  color: #FAFAFA;
  margin-bottom: 10px;
}
.testimonialSection .testimonial b {
  font-family: "semibold";
  color: #FAFAFA;
}
.testimonialSection .testimonial .topLeftQuote {
  position: absolute;
  top: 10px;
  left: 20px;
}
.testimonialSection .testimonial .topRightQuote {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.testimonialSection .testimonial .fa {
  color: #F6DCBB;
  font-size: 40px;
  background-color: #884B6A;
  padding: 7px 10px;
}
.testimonialSection .testimonial .top {
  right: 28px;
  top: 20px;
}
.testimonialSection .testimonial .bottom {
  left: 28px;
  bottom: 20px;
}
.testimonialSection .testimonial .boxes {
  background-color: #884B6A;
  position: absolute;
  padding: 10px 10px;
  display: flex;
}
.testimonialSection .testimonial .box {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #F6DCBB;
  margin: 0px 2px;
}
.testimonialSection .testimonial .doubleBox::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F6DCBB;
  bottom: 0;
  left: 25px;
}

@media (min-width: 500px) {
  .testimonialSection .testimonial {
    margin: 10px 30px;
  }
}
.landing {
  position: relative;
  z-index: 1;
  background-image: url("../../images/heroImage.png");
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 8px solid #F6DCBB;
}
.landing .textContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  margin-top: 100px;
  min-height: 420px;
  max-width: 1250px;
  color: #FAFAFA;
  margin-bottom: 50px;
}
.landing .textContent .landingGraphics .leftBorder, .landing .textContent .landingGraphics .rightBorder {
  position: absolute;
  left: 0px;
  height: 94%;
  width: 2px;
  top: 3%;
  background-color: #F6DCBB;
}
.landing .textContent .landingGraphics .rightBorder {
  right: 0px;
  left: unset;
}
.landing .textContent .landingGraphics .topBorder, .landing .textContent .landingGraphics .bottomBorder {
  position: absolute;
  top: 0px;
  left: 1%;
  width: 98%;
  height: 2px;
  background-color: #F6DCBB;
}
.landing .textContent .landingGraphics .bottomBorder {
  bottom: 0px;
  top: unset;
}
.landing .textContent .landingGraphics .triangle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-top: 2px solid #F6DCBB;
  border-left: 2px solid #F6DCBB;
}
.landing .textContent .landingGraphics .topLeft {
  top: -10px;
  left: -10px;
}
.landing .textContent .landingGraphics .topRight {
  transform: rotate(90deg);
  top: -10px;
  right: -10px;
}
.landing .textContent .landingGraphics .bottomLeft {
  transform: rotate(270deg);
  bottom: -10px;
  left: -10px;
}
.landing .textContent .landingGraphics .bottomRight {
  transform: rotate(180deg);
  bottom: -10px;
  right: -10px;
}
.landing .textContent .title {
  font-size: 18px;
  padding: 10px 0px;
  text-align: center;
  font-family: "semibold";
  transform: translateY(10px);
}
.landing .textContent .slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 55px;
}
.landing .textContent .slogan b {
  font-size: 50px;
  text-align: center;
}
.landing .textContent .line {
  display: inline-block;
  width: 90%;
  height: 2px;
  background-color: #F6DCBB;
  margin: 15px 0px;
  margin-top: 25px;
}
.landing .textContent .supportingDetails {
  text-align: center;
  padding: 10px 5px;
  max-width: 600px;
}
.landing .textContent .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.landing .textContent .buttons button {
  font-size: 20px;
  margin: 10px 10px;
}

@media (min-width: 850px) {
  .landing .textContent {
    margin-top: 150px;
  }
  .landing .textContent .title {
    font-size: 22px;
    transform: translateY(15px);
  }
  .landing .textContent .slogan {
    line-height: 100px;
  }
  .landing .textContent .slogan b {
    font-size: 90px;
  }
  .landing .textContent .supportingDetails {
    font-size: 18px;
  }
}
.servicesSection .servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicesSection .servicesContainer .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.servicesSection .servicesContainer .service img {
  width: 250px;
  height: 250px;
}
.servicesSection .servicesContainer .service .serviceContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicesSection .servicesContainer .service .serviceContent h4 {
  font-size: 25px;
  font-family: "bold";
}
.servicesSection .servicesContainer .service .serviceContent p {
  max-width: 800px;
  color: #626262;
  margin: 10px 0px;
  line-height: 20px;
  padding: 0px 5px;
}
.servicesSection .servicesContainer .service .serviceContent button {
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .servicesSection .servicesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicesSection .servicesContainer .service {
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    text-align: unset;
  }
  .servicesSection .servicesContainer .service img {
    width: 300px;
    height: 300px;
  }
  .servicesSection .servicesContainer .service .right {
    order: 1;
    margin-left: 65px;
  }
  .servicesSection .servicesContainer .service .left {
    margin-right: 65px;
  }
  .servicesSection .servicesContainer .service .serviceContent {
    align-items: unset;
  }
  .servicesSection .servicesContainer .service .serviceContent p {
    text-align: justify;
    margin: unset;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: unset;
  }
}
.whySection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.whySection .whySectionContent {
  display: flex;
  flex-direction: column;
}
.whySection .whySectionContent .whyReason {
  display: flex;
  flex-direction: column;
}
.whySection .whySectionContent .whyReason .whyReasonImage {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-position: center;
}
.whySection .whySectionContent .whyReason .image1 {
  background-image: url("../../images/hourGlass.jpg");
}
.whySection .whySectionContent .whyReason .image2 {
  background-image: url("../../images/moneyCAD.jpg");
}
.whySection .whySectionContent .whyReason .image3 {
  background-image: url("../../images/hourGlass.jpg");
}
.whySection .whySectionContent .whyReason .whyReasonText {
  background-color: #884B6A;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}
.whySection .whySectionContent .whyReason .whyReasonText b {
  font-family: "semibold";
  font-size: 30px;
  margin: 10px 0px;
}
.whySection .whySectionContent .whyReason .whyReasonText p {
  text-align: center;
  margin: 0px 5px;
  max-width: 500px;
}
.whySection .whySectionContent .whyReason:nth-child(2) .whyReasonText {
  background-color: #AD6D90;
}
.whySection .whySectionContent .whyReason:nth-child(3) .whyReasonText {
  background-color: #301E2E;
}

@media (min-width: 800px) {
  .whySection .whySectionContent .whyReason {
    flex-direction: unset;
  }
  .whySection .whySectionContent .whyReason .whyReasonImage {
    height: auto;
  }
  .whySection .whySectionContent .whyReason .image2 {
    order: 2;
  }
  .whySection .whySectionContent .whyReason .whyReasonText {
    width: 700px;
    height: 400px;
    flex-shrink: 0;
  }
  .whySection .whySectionContent .whyReason .whyReasonText p {
    max-width: 500px;
    line-height: 40px;
    font-size: 18px;
    margin-top: 20px;
  }
}
.aboutSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/aboutBackground.png");
  background-size: cover;
}
.aboutSection .aboutSectionContent p {
  text-align: center;
  color: #FAFAFA;
  max-width: 900px;
  padding: 0px 5px;
}
.aboutSection button {
  margin-bottom: 50px;
}

@media (min-width: 1000px) {
  .aboutSection .aboutSectionContent p {
    font-size: 18px;
  }
}
.contactIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactIntro .titleSection, .contactIntro .secondaryTitleSection {
  margin-top: 10px;
}
.contactIntro p {
  text-align: center;
  max-width: 800px;
  padding: 0px 5px;
}

.formSection {
  background-color: #8B5974;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../images/aboutBackground.png");
  background-attachment: fixed;
}
.formSection .secondaryTitleSection {
  margin-bottom: 10px;
}
.formSection .contactContent {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.formSection .contactContent .contactDetails {
  max-width: 500px;
  padding: 0px 2px;
}
.formSection .contactContent .contactDetails .contactTitle {
  color: #FAFAFA;
  font-family: "bold";
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.formSection .contactContent .contactDetails p {
  color: #FAFAFA;
  text-align: center;
}
.formSection .contactContent .contactDetails a {
  text-decoration: none;
  color: #F6DCBB;
  font-family: "semibold";
}
.formSection .contactContent .contactDetails .contactOptions .contactOption {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 20px 0px;
  margin-left: 5px;
}
.formSection .contactContent .contactDetails .contactOptions .contactOption .contactNumber {
  width: 50px !important;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #692D50;
  margin-right: 10px;
  border-radius: 10px;
  color: #F6DCBB;
}
.formSection .contactContent .contactDetails .contactOptions .contactOption .contactOptionText b {
  font-family: "semibold";
  color: #FAFAFA;
  font-size: 16px;
}
.formSection .contactContent .contactDetails .contactOptions .contactOption .contactOptionText p {
  color: #FAFAFA;
  text-align: start;
  width: -moz-fit-content;
  width: fit-content;
}
.formSection .contactContent form {
  background-color: #f1f1f1;
  background-color: #F6DCBB;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 98%;
  border-radius: 20px;
  margin: 0px 5px;
  padding-top: 15px;
}
.formSection .contactContent form label {
  width: 90%;
  text-align: start;
}
.formSection .contactContent form input, .formSection .contactContent form textarea {
  width: 90%;
  max-width: 800px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4039215686);
  border: none;
  border-radius: 10px;
  height: 40px;
  margin: 5px 5px;
  padding-left: 10px;
}
.formSection .contactContent form input:focus, .formSection .contactContent form textarea:focus {
  outline: none;
}
.formSection .contactContent form textarea {
  height: 150px;
  resize: none;
  padding-top: 5px;
}
.formSection .contactContent form button {
  margin: 10px 0px;
  padding: 8px 12px;
}

@media (min-width: 1000px) {
  .formSection .contactContent .contactDetails {
    margin-right: 30px;
  }
  .formSection .contactContent .contactDetails .contactTitle {
    justify-content: flex-start;
  }
  .formSection .contactContent .contactDetails p {
    text-align: start;
  }
}
.servicesListContainer {
  margin-top: 25px;
}
.servicesListContainer .serviceSection {
  margin-bottom: 50px;
}
.servicesListContainer .serviceSection .serviceTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.servicesListContainer .serviceSection .serviceTitle .numberImages {
  display: flex;
  align-items: center;
}
.servicesListContainer .serviceSection .serviceTitle .numberImages img {
  height: 80px;
  transform: rotate(-45deg);
}
.servicesListContainer .serviceSection .serviceTitle .numberImages :nth-child(3) {
  transform: rotate(45deg);
}
.servicesListContainer .serviceSection .serviceTitle span {
  color: #F6DCBB;
  background-color: #8B5974;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.servicesListContainer .serviceSection .serviceTitle span p {
  font-size: 35px;
  font-family: "semibold";
}
.servicesListContainer .serviceSection .serviceTitle h3 {
  font-family: "semibold";
  font-size: 25px;
  margin-top: 5px;
  text-align: center;
}
.servicesListContainer .serviceSection .serviceSectionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.servicesListContainer .serviceSection .serviceSectionContent ul {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  transform: translateX(0px);
  margin: 0px 0px;
}
.servicesListContainer .serviceSection .serviceSectionContent ul li {
  margin: 15px 0px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
.servicesListContainer .serviceSection .serviceSectionContent ul li .fa {
  color: #8B5974;
  font-size: 25px;
  margin-right: 15px;
}

@media (min-width: 1000px) {
  .servicesListContainer .serviceSection .serviceSectionContent ul {
    margin: 0px 50px;
    transform: translateX(40px);
  }
}/*# sourceMappingURL=styles.css.map */