//-------------------------------COLORS---------------------------------
$primaryColor: #8B5974;
$primaryDark:  #884B6A;
$primaryLight: #AD6D90;

$secondaryColor: #F6DCBB;
$secondaryColorDark: #1e86b3;
$secondaryColorLight: #1ebbff;

$accentColor: #692D50;
$accentColorDark: #301E2E;
$accentColorLight: #692D50;


$pink: #AD6D90;
$white:  #FAFAFA;
$gray: #626262;
$black: #111111;
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face{
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-display: swap;
}
@font-face{
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-display: swap;
}
@font-face{
  font-family: "semibold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-display: swap;
}

//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------
*{
  margin: 0;   
  padding: 0;
  font-family: "Poppins";

  a{
    text-decoration: none;
  }
}

body{
  background-color: $white;
}
.wrapper{
  display: flex;
  justify-content:  center;
}
.primaryButton{
   background-color: $accentColor;
   border: none;
   border-radius: 25px;
   display: flex;
   align-items: center;
   width: fit-content;
   padding: 10px 15px;
   color: $white;
   font-family: "semibold";
  font-size: 16px;
   cursor: pointer;
   transition: 0.5s;
   img{
     margin-left: 10px;
     width: 32px !important;
     height: 32px !important;
   }
}
.primaryButton:hover{
  background-color: #50223d
}


.titleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

    b{
      color: $primaryColor;
      font-family: "semibold";
      font-size: 20px;
      transform: translateY(5px);
    }
    p{
      font-size: 40px;
      font-family: "bold";
    }
    .circles{
      display: flex;
      align-items: center;
      margin: 5px;
      span{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0px 3px;
        background-color: $primaryColor;
      }
      .biggerCircle{
        width: 13px;
        height: 13px;
       background-color: $primaryDark;
      }
    }
}
.secondaryTitleSection{
  @extend .titleSection;
  margin-top: 0px;
  
  b{
      color: $secondaryColor;
  }
  p{
      color: $white;
  }
  .circles{

      span{
  
        background-color: $secondaryColor;
      }
      .biggerCircle{
  
       background-color: $white;
      }
    }
}


.additionalQuestion{
  display: none !important;
  background-color: $white;
  border-radius: 10px;
  //transform: translateY(-53px);
  display: flex;
  position: absolute;
  flex-direction: column;
  box-shadow: -0px 0px 30px -10px rgba(0, 0, 0, 0.856);
  top: -53px;
  .topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 20px;

    .additionalQuestionTitle{
      :nth-child(2){
        color: $primaryColor;
      }
    }
    a{
      button{
        padding: 5px 15px;
        padding-right: 5px;
        margin-bottom: 0px !important;
      }
    }


    b{
      font-size: 40px;
      font-family: "bold";
    }
  }
  .bottomSection{
    display: flex;
    margin: 0px 20px;
    margin-bottom: 10px;
    text-align: center;
    p{
      font-size: 18px
    }
  
    
  }
}

@media(min-width:550px){
  .additionalQuestion{
    display: block !important;
  }
}
//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------
@import "_navigation.scss";
@import "_footer.scss";
@import "_newPageLanding.scss";


@import "index/_testimonialSection.scss";
@import "index/_landing.scss";
@import "index/_servicesSection.scss";
@import "index/_whyUsSection.scss";
@import "index/_aboutSection.scss";

@import "contact/_contactIntro.scss";
@import "contact/_formSection.scss";

@import "services/_servicesList.scss";
//-------------------------------IMPORTS---------------------------------